.divlewygorny
{
background-color: deepskyblue;
height: 150px;
font-size: 120%;
text-align: center;
width: 25%;
}

.divprawygorny
{
background-color: deepskyblue;
height: 150px;
font-size: 120%;
text-align: center;
width: 75%;
}

.baner
{
background-color: tomato;
text-align: center;
height: 50px;
}

.stopka
{
background-color: tomato;
text-align: center;
}

.lewygłówny
{
background-color: deepskyblue;
height: 350px;
width: 50%;
}

.prawygłówny
{
background-color: deepskyblue;
height: 350px;
width: 50%;
line-height: 25px;
}

.h1
{
color: maroon;
}

.tabela
{
height: 100px;
width: 50%;
margin-top: 50px;
}

.przyciski/polaedycyjne
{
background-color: tomato;
border: none;
border-radius: 5px;
width: 100px;
}

.lewyPrzyciskGłowny
{
width: 300px;
}

.obrazyPanelGłówny
{
margin-top: 25px;
margin-right: 50px;
}

.obrazGłównyLewy
{
float:right;
}

.ObrazgównyPrawy
{
float:left;
}

