
/* Mixin's */  
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}


body {
background: #9c1717;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
height:100%;
}

.wrapper {
width: 800px;
margin: 30px auto;
color:white;
text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
border-radius:5px;
background:#e69c15;
color:white;
border: solid 1px white;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
opacity: 0.5;
  transition: 0.3s;
  display: inline-block;
 outline: none;
 cursor: pointer;
}
button:hover {opacity: 1}
button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

